body{
    margin: 0px;
}
#body-header{
    height: 65vh;
    background-image: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5fd00ea644cd62376ce2b6c1%2F0x0.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}